<div class="header_wrapper">
  <div class="header_title_wrapper">
    Bookers
  </div>
  <div class="header_item_wrapper">
    <div class="item_content">
      <%= link_to root_path , class: 'item' do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Home
      <% end %>
    </div>
    <div class="item_content">
      <%= link_to about_home_path, class: 'item' do %>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        About
      <% end %>
    </div>
    <div class="item_content">'
      <%= link_to signup_path, class: 'item' do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        sign up
      <% end %>
    </div>
    <div class="item_content">
      <%= link_to login_path, class: 'item' do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        login
      <% end %>
    </div>
  </div>
</div>